/*
name : Melanie Alvis
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
	font-size: 14px;
	font-family: 'Centrale Sans Rounded', Helvetica, Arial;
	letter-spacing: 1px;

}


.page-section .page-section-heading , h2 {
    line-height: 2rem;
    font-size: 30px;
    font-weight: 700 ;
    color: #434E5E;
    letter-spacing: 2px;

}

.page-section, .page-contact  {
    padding: 7rem 0px;
}

.navbar{
	padding:2rem !important;
}



 .navbar-brand, .nav-item{
	letter-spacing: 3px;
	font-weight: 700 ;
	 font-size: 1rem;
	 margin: 3px;
 }

.masthead{
	paddingop:calc(6rem + 74px);
	padding-bottom:6rem;
	background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
	opacity: .90;
	letter-spacing: 3px;
}
.masthead .masthead-heading{
	letter-spacing: 3px;
	font-weight: 550;
	line-height:2.75rem
}
.masthead .masthead-subheading{
	font-size:1.25rem
}.masthead .masthead-avatar{
	width:15rem
}

.divider-custom{
	margin:1.25rem 0 1.5rem;
	width:100%;display:-webkit-box;
	 display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center; 
	-ms-flex-pack:center;justify-content:center;
	-webkit-box-align:center;-ms-flex-align:center;
	align-items:center
}
.divider-custom .divider-custom-line{
	width:100%;
	max-width:7rem;
	height:.25rem;
	background-color:#2c3e50;
	border-radius:1rem;
	border-color:#2c3e50!important
}
.divider-custom .divider-custom-line:first-child{
	margin-right:1rem
}
.divider-custom .divider-custom-line:last-child{
	margin-left:1rem
}.divider-custom .divider-custom-icon{
	color:#2c3e50!important;
	font-size:2rem
}
.divider-custom.divider-light .divider-custom-line{
	background-color:#fff
}
.divider-custom.divider-light .divider-custom-icon{
	color:#fff!important
}

 .masthead-avatar {
    width: 15rem;
    border-radius: 10rem;

}

/* portfolio */

.card-body h3 {
	color: #434E5E;
	font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* Contact form */


 
.contact-form{
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:.5rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -7%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -15%;
    text-align: center;
     color: #434E5E;
     font-size: 30px ;
    font-weight: 700 ;
    letter-spacing: 2px;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.sidebar {
	background: #f6f6f6;
}

footer {
    background:#158CBA;
   	color:white;
   	padding-top: 2rem;
   	letter-spacing: 1px;
	font-weight: 550;
     
}

.copy {
	font-size: 20px;
	padding: 30px;
}

.fab{
	font-size:25px;
	color:white;
	margin: 10px;
	padding-bottom: 20px;
}



























/* media queries */

@media (min-width:992px){
	.masthead{
		padding-top:calc(6rem + 104px);
		padding-bottom:6rem
	}
	.masthead .masthead-heading{
		font-size:4rem;
		line-height:3.5rem
	}
	.masthead .masthead-subheading{
		font-size:1.5rem
	}
}


@media (min-width:992px){
	.masthead{
		padding-top:calc(6rem + 104px);
		padding-bottom:6rem
	}
	.masthead .masthead-heading{
		font-size:4rem;
		line-height:3.5rem
	}
	.masthead .masthead-subheading{
		font-size:1.5rem}
	}
	.portfolio{
		margin-bottom:-30px;
	}
}